AI Social media post creation automation.json
{
  "name": "Social media automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        -112
      ],
      "id": "c2e26d5f-e77b-4d3a-8295-7f2f43d5b39c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a prompt on {{ $json.Topic }} :\n1. Instagram caption\n2. LinkedIn caption\n3. Facebook caption\n4. Hashtags\n5. CTA\n6. image prompt\n",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        704,
        -96
      ],
      "id": "8e973292-9aac-4c2a-a85b-23c5e49e2766",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        848,
        96
      ],
      "id": "149b49b1-a185-49e0-b432-0ff83eadfcdd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "person": "D_IporRDaf",
        "text": "={{ $json.output.cities[1].split('LinkedIn Caption:')[1] }}\n{{ $json.output.cities[3].split('Hashtags:')[1] }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1376,
        -240
      ],
      "id": "e143a444-1a94-4d66-ac9c-b8e39d586294",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "glCUwDOXAx2hJEwm",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/1074578925746023/photos",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "caption",
              "value": "={{ $json.output.cities[2].split('Facebook Caption: ')[1] }}\n{{ $json.output.cities[3].split('Hashtags: ')[1] }}"
            },
            {
              "name": "url",
              "value": "={{ $binary.data.directory }}"
            },
            {
              "name": "access_token",
              "value": "EABAI261ZBpkABRQIS2F0AxFvqCP7UzYzFKxg3lcuod8gSgDUbz6s3lrV6qXqy0jVSV0gSwMoR4u3U5ca90atA8ZAjcZCqbI84uIjF2sgX4gtvHqF6DDd97rBuUdfwgOiOTjJp0AIjosZC00ZA1wZBt9aHncXOTAs80UjZC74ICLVLagH2KBsYuhd8L3AiMpA7ZBiDRCRFNIJ0GekIMZBlj4ZA2mO7Ynn6wnW9yquvoyxqWl08ZD"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1376,
        -48
      ],
      "id": "f579083e-6ab6-4ce6-9fa9-d41b18690c87",
      "name": "Facebook Post"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        704,
        96
      ],
      "id": "48c9d149-32fd-408f-8cfe-37d16039a7c2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "gAoGt6NNPOQMjcMQ",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ASVirnNiU19_WGlCLK28rsSGT6MM6ys5-W-8nbCgHwc",
          "mode": "list",
          "cachedResultName": "Log all outputs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ASVirnNiU19_WGlCLK28rsSGT6MM6ys5-W-8nbCgHwc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ASVirnNiU19_WGlCLK28rsSGT6MM6ys5-W-8nbCgHwc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Caption": "={{ $('Image Genearte Pollinations ai').item.json.output.cities[1] }}\n{{ $('Basic LLM Chain').item.json.output.cities[2] }}\n",
            "Date": "={{ $now }}",
            "Post id": "={{ $json.urn }}\n",
            "Status": "Active"
          },
          "matchingColumns": [
            "Caption"
          ],
          "schema": [
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Post id",
              "displayName": "Post id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1680,
        -240
      ],
      "id": "b51338a3-d8df-4c04-bda6-be8a275ba470",
      "name": "Log all output",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HTWj6RAQeeHf4Zf8",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ASVirnNiU19_WGlCLK28rsSGT6MM6ys5-W-8nbCgHwc",
          "mode": "list",
          "cachedResultName": "Log all outputs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ASVirnNiU19_WGlCLK28rsSGT6MM6ys5-W-8nbCgHwc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ASVirnNiU19_WGlCLK28rsSGT6MM6ys5-W-8nbCgHwc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Caption": "={{ $('Basic LLM Chain').item.json.output.cities[2] }}",
            "Post id": "={{ $json.body.post_id }}",
            "Status": "Active",
            "Date": "={{ $now }}"
          },
          "matchingColumns": [
            "Caption"
          ],
          "schema": [
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post id",
              "displayName": "Post id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        -48
      ],
      "id": "f71a3f47-11b0-408e-9638-75b6c5c17b00",
      "name": "Log all outputs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HTWj6RAQeeHf4Zf8",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "AI social media automation. \n\n WorkFlow Summary                                                                             \n2. Manual Trigger : Start Workflow\n3. Set Topic : Provide topic, brief, tone \n4. Gemini LLM: Generate caption, hastage, CTA, Image prompt\n5. Structured Output Parser: Extract Sturctured Output\n6. Pollinations.ai: Generate the image\n 7. Linkedin Post: Create post on Linkedin\n8. Facebook Post: Create post on Facebook\n9. Error Trigger: Node execution failed\n10. Condition: If Input is missing True Stop the execution\n11. Flase: Generate the prompt\n",
        "height": 272,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        -592
      ],
      "typeVersion": 1,
      "id": "2fe403bd-4b24-4976-be2f-5a8fa138fba9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eabc9369-a944-45e0-aa6d-25abf42e47f5",
              "name": "Topic",
              "value": "Personal Finance & Freelancing",
              "type": "string"
            },
            {
              "id": "fdb1c026-08d1-4218-abcd-65a565e40ff4",
              "name": "Brief",
              "value": "Advice on investing, earning money online, and managing remote work.",
              "type": "string"
            },
            {
              "id": "5f15bdde-45d1-40f4-878f-b51e4a7884d7",
              "name": "Tone",
              "value": "Professinal",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        -112
      ],
      "id": "4c3d566c-b679-42b8-b0b1-aaf6c7237cb7",
      "name": "Set Topic"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a133efe3-5b53-409d-9591-ca243522a4f3",
              "leftValue": "={{ $json.Topic }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "81733560-2c50-43ba-9659-871d1e1e5dae",
              "leftValue": "={{ $json.Brief }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        -112
      ],
      "id": "1fcba1e2-e442-4fb1-9e1c-cb51d85c5421",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        176
      ],
      "id": "ff55ccec-181a-42f5-a46a-66d2abf3d58d",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "url": "=https://image.pollinations.ai/prompt/ {{ $json.output.cities[5] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1072,
        -96
      ],
      "id": "dd5c8d3e-5fa5-4605-8011-9d8c1301594d",
      "name": "Image Genearte Pollinations ai"
    },
    {
      "parameters": {
        "errorMessage": "=Input Missing"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        736,
        -272
      ],
      "id": "cdedcd37-3fca-4165-aad7-1c12f7bf3774",
      "name": "Input Missing"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Image Genearte Pollinations ai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Log all output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Post": {
      "main": [
        [
          {
            "node": "Log all outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Topic": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Input Missing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Genearte Pollinations ai": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "531984b7-6a24-4d66-8320-3e2991602e75",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86b95c8a315df9c445a52a4d262b68ee233e2a5196cf8df033cf84c069ebbfa4"
  },
  "id": "dKUAqjCR5MdkIedR",
  "tags": []
}